$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    background-image: url('http://res.cloudinary.com/dfu4pwocw/image/upload/v1497023545/GAMING_game_video_computer_gamer_poster_2560x1440_uzj2bs.jpg');
    background-size: 100%;
}

.hideOnStart,
.hideOnStartTwo {
  display: none;
}

nav {
  // display: inline block
  position: fixed;
  left: 0;
  top: 0;
  height: 47px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}


.left {
  float: left;
}

.right {
  float: right;
}

h1 {
  font-size: 28px;
  color: white;
  margin-left: 34%;
  margin-top: 10px;
  text-align: center;
  float: left;
}
