body {
  background: #000;
  padding-bottom: 3.0em;
}

.hideOnStart,
.hideOnStartTwo {
  display: none;
}

nav {
  // display: inline block
  position: fixed;
  left: 0;
  top: 0;
  height: 58px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  background-color: #000;
}

.left {
  width: 12%;
  float: left;
}

.right {
  width: 12%;
  float: right;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 38px;
  color: white;
  // margin-left: 35%;
  width: 76%;
  margin-top: 10px;
  text-align: center;
  float: left;
}

h2 {
  font-size: 29px;
  font-family: 'Play', sans-serif;
}

.btn-transparent {
  background: transparent;
  color: #cc181e;
  font-weight: 600;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.btn-transparent:focus {
  background: transparent;
  outline: none;
  color: #cc181e;
}

.btn-transparent:hover {
  color: darkred;
}

.btn-transparent:active {
  outline: none;
}

input {
  font-size: 16px;
}

.zoom-control {
  font-size: 16px;
}

.modal-body,
.modal-content,
.modal-footer,
.modal-header {
  opacity: 0.9;
  border: 0;
}

.mess-display {
  position: relative;
  text-align: center;
  color: white;
  height: 1.1em;
  // padding: 2em .5em .5em;
}

.mess-display-two {
  position: relative;
  text-align: center;
  color: white;
  height: 2.5em;
  // padding: 2em .5em .5em;
}

#welcome-text {
  text-align: center;
  color: white;
}

.desc-divider {
  text-align: center;
}

p {
  color: #C0C0C0;
  font-family: 'Play', sans-serif;
  font-size: 23px;
}

.page-description {
  text-align: center;
}

footer {
  position: fixed;
  color: white;
  font-family: 'Play', sans-serif;
  font-size: 17px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5em;
  min-height: 1em;
  background-color: #cc181e;
  text-align: center;
}

#succ-fail-mess {
  font-size: 22px;
  color: #cc181e;
}

#succ-fail-mess-two {
  font-size: 22px;
  color: #cc181e;
}

.post-display {
  padding-bottom: 2.5em;
}

.post-name {
  font-size: 20px;
  color: white;
}

#post-content {
  font-size: 14px;
  color: #C0C0C0;
  border: 3px solid #cc181e;
  padding: .5em;
}

.post-list {
  list-style: none;
}

.master-post {
  padding-bottom: 2.5em;
}

.font-large {
  font-size: 1.3em;
}

.text-center {
  text-align: center;
}
