@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 25px;
  }

  #succ-fail-mess {
    font-size: 20px;
    color: #cc181e
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 18px;
    width: 50%;
  }

  h2 {
    font-size: 19px;
  }

  #succ-fail-mess {
    font-size: 15px;
    color: #cc181e
  }

  p {
    font-size: 14px;
  }

  .btn-transparent {
    font-size: 14px;
  }

  .left {
    width: 25%;
    float: left;
  }

  .right {
    width: 25%;
    float: right;
  }
}
